{% extends "base.html" %}

{% block content %}
<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="w-full max-w-lg p-10 bg-white rounded-lg shadow-xl">
        <div class="mb-4">
            <h1 class="font-bold text-center text-2xl mb-5">Cambia tu contraseña</h1>  
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="mb-6">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="{{ field.id_for_label }}" type="{{ field.field.widget.input_type }}" name="{{ field.name }}" placeholder="{{ field.label }}">
                    {% if field.help_text %}
                    <p class="text-gray-600 text-xs italic">{{ field.help_text }}</p>
                    {% endif %}
                    {% for error in field.errors %}
                    <p class="text-red-500 text-xs italic">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endfor %}
                <div class="flex items-center justify-between">
                    <button class="w-full inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" type="submit">
                        Cambiar contraseña
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
