{% extends "base_generic.html" %}
{% block content %}
<div style="max-width: 400px; margin: auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);">
  <h2 style="text-align: center; margin-bottom: 20px;">Contraseña restablecida con éxito</h2>
  <p style="text-align: center;">Tu contraseña ha sido restablecida con éxito. Ya puedes <a href="{% url 'login' %}" style="color: #007bff; text-decoration: none;">iniciar sesión</a> con tu nueva contraseña.</p>
</div>
{% endblock %}
